<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/layout :: layout(~{::head}, ~{::body/content}, ~{::body/scripts})}">
<head>
    <title>註冊成功</title>
</head>
<body>

<th:block th:fragment="content">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="success-container">
                <h1>註冊成功！</h1>
                <p>感謝您的註冊。我們已經向您的信箱 <span th:text="${email}" class="email-display"></span> 發送了一封驗證信。</p>
                <p>請檢查您的收件箱 (包括垃圾郵件/垃圾箱)，並點擊信中的連結來開通您的帳戶。</p>
                <p>開通後您即可登入使用。</p>
                <p class="mt-4"><a th:href="@{/login}" class="btn btn-primary btn-lg">前往登入頁面</a></p>
            </div>
        </div>
    </div>
</th:block>

</body>
</html>