@import 'inputTextArea.scss';

.component {
  &-col, &-row {
    @apply flex;
  }
  &-col {
    @apply flex-col;
  }
  &-row {
    @apply items-center;
    .labelText {
      @apply my-0 mr-2 text-end whitespace-nowrap;
    }
  }
}
.labelText {
  @apply ml-2 mb-[2px] text-sm leading-5 text-gray-600;
  .icon {
    @apply text-xl;
    &.infoIcon {
      @apply text-gray-300;
    }
  }
}
.errorText {
  @apply text-xs text-danger-500;
}

// #region table
table thead {
  @apply z-10 sticky top-0;
  &:after {
    @apply content-[''] -z-[1] absolute w-full h-full -top-px left-0 bg-gray-100;
  }
}
.tableScroll {
  .os-scrollbar.os-scrollbar-vertical {
    top: 124px !important;
    >.os-scrollbar-track { height: calc(100% - 34px) !important; }
  }
  .os-scrollbar-horizontal {
    left: 2px !important;
    bottom: -8px !important;
    &>.os-scrollbar-track {
      left: 102px !important;
      bottom: 10px !important;
      width: calc(100% - 298px) !important;
    }
  }
  &:has(.os-scrollbar-horizontal.os-scrollbar-visible) {
    @apply border-l border-r border-gray-100;
  }
  &:has(:not(.rightStickyColumn)) {
    .os-scrollbar-horizontal > .os-scrollbar-track {
      bottom: 8px !important;
      width: calc(100% - 104px) !important;
    }
  }

  &One .os-scrollbar-horizontal > .os-scrollbar-track{
    width: calc(100% - 198px) !important;
  }
  &More {
    @apply mb-4;
    &>.os-scrollbar.os-scrollbar-vertical>.os-scrollbar-track { height: calc(100% - 34px) !important; }
  }
}
// #endregion table
